# Cypress PSOC6 MCU line

# Copyright (c) 2018, Cypress
# Copyright (c) 2020, ATL Electronics
# SPDX-License-Identifier: Apache-2.0

choice
	prompt "Cypress PSoC4 MCU Selection"
	depends on SOC_SERIES_PSOC42

config SOC_PART_NUMBER_CY8C4247AZI_M485
	bool "CY8C4247AZI_M485"
	depends on SOC_SERIES_PSOC42

endchoice
